<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>I am working ...</h1>

    <form method="POST" action="/add">
        <div>
            <label>Title:</label>
            <input type="text" name="title"> 
        </div>
        
        <div>
            <label>Desc:</label>
            <input type="text" name="desc"> 
        </div>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>